<section class="apto-container">
    <div class="side-menu">
        <div class="navigation-side-wrap">
            <button class="navigation-button" mat-icon-button (click)="changePage('prev')"
                [disabled]="currentPage === 1">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
            <div class="menu-button-container">
                <button class="menu-item" *ngFor="let apto of currentAptos"
                    [ngClass]="{'active': selectedApto === apto.number}" (click)="selectApto(apto.number)">
                    <div class="menu-item-number">{{ apto.number }}</div>
                    <div class="menu-item-size">{{ apto.areaTotal }} m²</div>
                </button>
            </div>
            <button class="navigation-button" mat-icon-button (click)="changePage('next')"
                [disabled]="currentPage === (selectedView === 'frontal' ? apartments.frontal.length : apartments.posterior.length)">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>
        </div>

        <div class="radio-container">
            <mat-radio-group [(ngModel)]="selectedView" (change)="onViewChange($event.value)" aria-label="Apto View">
                <mat-radio-button value="frontal">Frontal</mat-radio-button>
                <mat-radio-button value="posterior">Posterior</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div class="planta-container">
        <div *ngFor="let apto of currentAptos" class="apto-details">
            <div [ngClass]="'painel-' + apto.number" *ngIf="selectedApto === apto.number">
                <div class="planta-img">
                    <button class="navigation-button" mat-icon-button (click)="changeImgPlanta('prev', apto.imgSrc)"
                        [disabled]="currentImg === 1">
                        <mat-icon>arrow_back_ios</mat-icon>
                    </button>
                    <img [src]="apto.imgSrc[currentImg - 1]" alt="Planta do Apto {{apto.number}}" class="planta-image" />
                    <button class="navigation-button" mat-icon-button (click)="changeImgPlanta('next', apto.imgSrc)"
                        [disabled]="currentImg === (apto.imgSrc.length)">
                        <mat-icon>arrow_forward_ios</mat-icon>
                    </button>
                </div>
                <div class="apto-info">
                    <p><strong>Tipologia do Apto:</strong> <br> {{ apto.tipologia }} suítes</p>
                    <p><strong>Área Apto:</strong> <br> {{ apto.areaApto }} m²</p>
                    <p><strong>Área Escada:</strong> <br> {{ apto.areaEscada }} m²</p>
                    <p><strong>Área Apto + Escada:</strong> <br> {{ apto.areaTotal }} m²</p>
                    <p><strong>Nº da Vaga:</strong> <br> {{ apto.numVaga }}</p>
                    <p><strong>Tipologia da Vaga:</strong> <br> {{ apto.tipologiaVaga }}</p>
                </div>
            </div>
        </div>
    </div>
</section>