.interest-page{
    display: grid;
    place-items: center;
    height: 90vh;
}
.interest-container {
    background-color: var(--natto-primary-2);
    width: 600px;
    padding: 35px;
    border: 5px solid #666;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  form {
    width: 100%;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .form-group input:focus, .form-group input:valid,
  .form-group textarea:focus, .form-group textarea:valid {
    padding-left: 20px;
  }
  
  .form-group input:focus ~ label, .form-group input:valid ~ label,
  .form-group textarea:focus ~ label, .form-group textarea:valid ~ label {
    translate: 0 -34px;
    scale: 0.825;
    transition-duration: 0.3s;
  }
  
  .form-control {
    border: solid 2px var(--natto-primary);
  }
  
  .form-info {
    transition: 0.3s;
    padding-left: 100px;
    border-radius: 27px;
  }
  
  .form-info + label {
    position: absolute;
    display: grid;
    place-items: center;
    transform-origin: 0% 0%;
    pointer-events: none;
    top: 0px;
    height: 40px;
    width: 100px;
    border-radius: 27px;
    background: var(--natto-secondary);
    color: #fff;
  }
  