.project-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url('../../assets/imgs fundo/fundo2.jpg');
}
.project-bg-img{
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
img {
    height: 100%;
    
}

.project-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
}

.project-bg {
    position: relative;
    text-align: center;
}

.project-bg-btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-btn {
    background-color: var(--natto-secondary);
    color: #fff;
    padding: 5px;
}

.project-btn:hover {
    background-color: var(--natto-secondary-2);
    scale: 1.05;
}

.modal-content.bg-dark {
    background-color: #343a40;
    color: white;
}

.tech-details {
    display: flex;
    justify-content: space-between;
    color: #000;
}

.tech-column {
    width: 30%;
}

.tech-column h5 {
    color: #dd6b20;
    /* A cor laranja utilizada na imagem */
}

.tech-column p {
    margin: 5px 0;
}

.modal-header button{
    color: #fff;
}

.modal-title{
    margin: 0px;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Reduz a área clicável das setas para aproximá-las do canto */
}

.carousel-control-prev {
    left: 10px; /* Define a distância da seta da borda esquerda */
}

.carousel-control-next {
    right: 10px; /* Define a distância da seta da borda direita */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px;
    height: 50px;
    filter: invert(1);
}