<section class="project-container">
    <img class="project-bg-img" src="../assets/imgs predios/predio-natto.jpg" alt="">
    <div class="project-bg">
        <img class="project-bg-img" src="../assets/imgs fundo/fundo2.jpg" alt="">
        <div class="project-bg-btns">
            <button class="project-btn w-100 m-2 rounded" data-bs-toggle="modal" data-bs-target="#diferenciais-modal">DIFERENCIAIS</button>
            <button class="project-btn w-100 m-2 rounded" data-bs-toggle="modal" data-bs-target="#ficha-tecnica-modal">FICHA TÉCNICA</button>
            <button class="project-btn w-100 m-2 rounded" data-bs-toggle="modal" data-bs-target="#empreendedores-modal">EMPREENDEDORES</button>
        </div>
    </div>
    <img class="project-logo" src="../../assets/imgs logos/logo-project-natto.png" alt="">
  </section>
  
  <!-- Modal Ficha Técnica -->
  <div class="modal fade" id="ficha-tecnica-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header w-100">
                <h1 class="modal-title fs-3 text-center w-100" id="exampleModalLabel">FICHA TÉCNICA</h1>
                <button type="button" class="fs-5 btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="tech-details">
                    <div class="tech-column">
                        <h5>Construção</h5>
                        <p>Previsão de Início da Obra: Junho/2023</p>
                        <p>Previsão de Término da Obra: Fevereiro/2026</p>
                        <p>Incorporação: SPE T-28 BUENO EMPREENDIMENTOS IMOBILIARIOS LTDA</p>
                        <p>Construção: EMISA ENGENHARIA E COMÉRCIO LTDA</p>
                        <p>Realização: SOMOS DESENVOLVIMENTO IMOBILIÁRIO LTDA</p>
                        <p>PARTINI INCORPORAÇÕES E NEGOCIOS IMOBILIARIOS LTDA.</p>
                        <p>TRINUS CO. PARTICIPAÇÕES S.A.</p>
                        <p>EMISA ENGENHARIA E COMÉRCIO LTDA</p>
                    </div>
                    <div class="tech-column">
                        <h5>Nº de pavimentos</h5>
                        <p>1 torre com 31 pavimentos + cobertura, sendo:</p>
                        <ul>
                        </ul>
                        <li>Subsolo 01</li>
                        <li>Térreo</li>
                        <li>1º pavimento (garagem)</li>
                        <li>2º pavimento (garagem)</li>
                        <li>Pavimento Lazer</li>
                        <li>4º ao 27º pavimento (apartamentos)</li>
                        <li>28º pavimento (apartamentos duplex inferiores)</li>
                        <li>29º pavimento (apartamentos duplex superiores e mesa motores dos elevadores) e ático (barrilete e reservatório)</li>
                    </div>
                    <div class="tech-column">
                        <h5>Área do Terreno</h5>
                        <p>1.500,00 m²</p>
                        <h5>Área Total Construída</h5>
                        <p>18.208,34 m²</p>
                        <h5>Projetos/ Consultoria</h5>
                        <p>Arquitetura: Norte Design Arquitetos e Associados S/S</p>
                        <p>Arquitetura de Interiores: Norte Design Arquitetos e Associados S/S</p>
                        <p>Arquitetura Paisagista: Norte Design Arquitetos e Associados S/S</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <!-- Modal Diferenciais (placeholder) -->
  <div class="modal fade" id="diferenciais-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Diferenciais</h1>
                <button type="button" class="bg-dark fs-5" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="modal-body">
                <!-- Conteúdo do Diferenciais -->
            </div>
        </div>
    </div>
  </div>
  
  <!-- Modal Empreendedores (já existente) -->
  <div class="modal fade" id="empreendedores-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Empreendedores</h1>
                <button type="button" class="bg-dark fs-5" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="modal-body row d-flex align-items-center">
                <div class="col-lg-1">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#api-contatos-modal"><i class="bi bi-caret-left-fill"></i></button>
                </div>
                <div class="col-lg-10 d-flex justify-content-center flex-column align-items-center">
                    <h4>Tecnologias utilizadas:</h4>
                </div>
            </div>
        </div>
    </div>
  </div>
  